Django==1.9.6
django-webpack-loader==0.3.0
djangorestframework==3.3.3
gunicorn==19.4.5
lxml==3.6.0
petfinder==0.3
postgres==2.2.1
psycopg2==2.6.1
pytz==2016.4
pyzipcode==1.0.0
requests==2.10.0
whitenoise==3.0
